*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
overflow-x: hidden;
}

html,body {
    height: 100;
}

:root{
    --main-color: #f8b281;
    --secondary-color: #050505;
}

@font-face {
    font-family: "argonite";
    src: url("./assets/FontsFree-Net-Stone-orgonite.ttf");
}

h2{
    font-size: 2.5rem;
    line-height: 125%;
    padding: 1rem 0rem;
}

h3{
    font-size: 1.25rem;
    line-height: 125%;
}

nav{
     display: flex;
     align-items: center;
     justify-content: space-between;
}

nav svg{
    cursor: pointer;
    z-index: 10;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 2.5rem;
}

.logo h1 {
    margin-left: 0.5rem;
    font-family: "argonite";
    font-size: 1rem;
}

.links{
    position: absolute;
    background: white;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(100%);
}

.links a{
    color: var(--secondary-color);
    font-size: 2rem;
}

.front-page{
    min-height: 100vh;
    background: rgba(255, 255, 255, 0);
    /* background: rgba(128, 0, 128, 0.174); */

    color: white;
}

.hero-section{
    margin-top: 25vh;
    font-family: "argonite";
    text-shadow: 0px 4px 12px black;
    text-align: center;
}

.hero-section h3{
    font-family: sans-serif;
    text-shadow: 0px 4px 12px black;
}

.ctas{
    margin-top: 1rem;
    text-align: center;
}
.ctas button{
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 24px rgba(201, 170, 170, 0.437);
    margin: 1rem;
}

.cta-main{
    background-color: var(--main-color);
    color: var(--secondary-color);
}

.cta-sec{
    background-color: var(--secondary-color);
    color: white
}

.hero{
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height:100vh;
    object-fit: cover;
    z-index: -1;
}

.collections{
    /* background-color: black; */
    background: white;
    text-align: center;
    font-family: "argonite";
}

.collective img{
   width: auto;
   height: 350px;
   object-fit: contain;
   border-radius: 1rem;
   margin-top: 1rem;
}

.collective{
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
}


.collection1, .collection2, .collection3{
    position: relative;
}



.collective h3{
    position: absolute;
    color:var(--main-color);
    text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.189);
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    font-size: 2rem;
}

.about{
    color: var(--secondary-color);
}

.about h2{
    font-family: "argonite";
}

.our-story{
    text-align: center;
}

.about{
    padding-top: 1rem;
    display:flex;
    gap: 5rem;
    justify-content: space-between;
    margin-top: 1rem;
}

.about img{
    width: 50%;
}


.binoculas{
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 1rem;
    border-radius: 2rem;
    padding: 1rem 1rem;
}

.about p{
    line-height: 150%;
    font-size: 1.2rem;
}

.our-story nav{
    display: flex;
    padding-top: 31em;
    object-fit: contain;
    width: 10rem;
    height: 20px;
}